header, main, footer {
  padding-left: 300px;
}

main {
	position: relative;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
	    padding-left: 0;
		}

	.select-wrapper {
		width: 100%;
		}
}

body {
	background: #b6c2d9;
	cursor: url('../images/arrow.png'), default;
}

button,
li,
a,
input,
.collapsible-header {
	cursor: url('../images/hand.cur'), default !important;
}

h1 {
	margin: 0;
}

nav {
	height: auto;
	background: #4d7ea8;
}

.main-body-wrapper {
	border: 1px solid black;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

#login {
	padding: 0 20% 0;
	color: black;
}

#profile-photo {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 2px solid black;
	box-shadow: 0px 0px 15px black;
	/*box-sizing: border-box;*/
}

.user-view .background {
	background: url('../images/bg_default.jpeg');
	height: 200px;
}

.disabledbutton,
.disable {
    pointer-events: none;
    opacity: 0.4;
}

button[id^="add"],
button[id^="min"]{
	background: transparent;
	border: none;
}

.current-skill-tree,
.to-be-unlocked-tree {
	font-size: 13px;
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
}

.collapsible-container {
	background: #f2f2f2;
}

.skill-db-title {
	font-weight: bold;
}

.collapsible-header {
	padding-top: 13px;
	text-align: center;
}

.skill-db-header {
	font-size: 1.2em;
}

.half-centered-form {
	width: 50%;
	margin: 0 auto;
}

.centralize {
	margin: 0 auto;
}

.build-date{
	font-size: 10px;
}

.header-padding {
	padding: 20px;
}

.margin-top {
	margin-top: 30px;
}

.modal .modal-footer .btn {
	float: none;
}

.btn-hover-scale:hover {
	transform: scale(1.2,1.2);
}

.bg {
	background: #eceff1;
	border-radius: 3px;
}

#deleteBuildYes,
#deleteBuildNo {
	margin: 0 10px 0;
}

.skill-db-admin-btn {
	height: 20px;
}

/*Materialize CSS overrides*/
.row .col {
	padding: 1.5em 1.5em;
}

input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #4d7ea8;
  	box-shadow: 0 1px 0 0 #4d7ea8;
}

input[type="text"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #4d7ea8;
}

.btn-blue {
	background-color: #4d7ea8;
}

.btn-pink {
	background-color: #9e90a2;
}

.btn-blue:hover {
	background-color: #628fb7;
}

.dropdown-content li > span {
	color: #4d7ea8;
}

[type="checkbox"]:checked + label:before{
	border-right: 2px solid #4d7ea8;
  	border-bottom: 2px solid #4d7ea8;
}

.btn-small {
	height: 25px;
  	line-height: 25px;
  	padding: 0 1rem;
  	margin: 10px 10px 0;
}